# Find steps needed to return 'evidence' and 'labels' in proper format

In [56]:
import json
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('shopping.csv')
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [9]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [15]:
def transform_df(df):
    # transform months
    mapping = {
        'Month': {
            'Jan': 0, 'Feb': 1, 'Mar': 2,
            'Apr': 3, 'May': 4, 'June': 5,
            'Jul': 6, 'Aug': 7, 'Sep': 8,
            'Oct': 9, 'Nov': 10, 'Dec': 11
        },
        'VisitorType': {
            'Returning_Visitor': 1,
            'New_Visitor': 0,
            'Other': 0
        },
        'Weekend': {
            True: 1,
            False: 0
        },
        'Revenue': {
            True: 1,
            False: 0
        }
    }
    df = df.replace(mapping)
    return df

In [16]:
df_transformed = transform_df(df)
df_transformed

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,1,1,1,1,1,1,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,1,2,2,1,2,1,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,1,4,1,9,3,1,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,1,3,2,2,4,1,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,1,3,3,1,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,11,4,6,1,1,1,1,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,10,3,2,1,8,1,1,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,10,3,2,1,13,1,1,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,10,2,2,3,11,1,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,10,3,2,1,2,0,1,0

In [18]:
df_transformed.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                        int64
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                  int64
Weekend                      int64
Revenue                      int64
dtype: object

In [19]:
X = df_transformed.iloc[:,: -1]
y = df_transformed.iloc[:,-1]
print(X.shape)
print(y.shape)

(12330, 17)
(12330,)

In [53]:
def dataframe_to_list_of_lists(df):
    """
    Converts DataFrame to list of lists, while preserving dtypes.
    """
    j = df.to_json(orient='split')
    return json.loads(j)['data']

In [58]:
evidence = dataframe_to_list_of_lists(X)
labels = dataframe_to_list_of_lists(y)

# Find best hyperparameters for the classifier

In [67]:
X_train, X_test, y_train, y_test = train_test_split(
    evidence, labels, test_size=0.4
)
print(len(X_train), len(X_train[0]))
print(len(X_test), len(X_test[0]))
print(len(y_train))
print(len(y_test))

7398 17
4932 17
7398
4932

In [68]:
from sklearn.model_selection import GridSearchCV

In [69]:
model = KNeighborsClassifier()

param_grid = {
    'n_neighbors': [1, 3, 5, 7, 9],
    'weights': ['uniform', 'distance'],
}

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring='accuracy', cv=10)
grid_search.fit(X, y)
# print available information
print(grid_search.cv_results_.keys())
print(grid_search.cv_results_)

dict_keys(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time', 'param_n_neighbors', 'param_weights', 'params', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score', 'split5_test_score', 'split6_test_score', 'split7_test_score', 'split8_test_score', 'split9_test_score', 'mean_test_score', 'std_test_score', 'rank_test_score'])
{'mean_fit_time': array([0.27953978, 0.23686419, 0.2232722 , 0.24695833, 0.21277869,
       0.20548077, 0.23496578, 0.3220674 , 0.2406625 , 0.23346643]), 'std_fit_time': array([0.07941065, 0.03378887, 0.04080362, 0.02972997, 0.0335856 ,
       0.02270951, 0.03173564, 0.13884667, 0.0145233 , 0.04480996]), 'mean_score_time': array([0.18249621, 0.0669626 , 0.15031621, 0.06276541, 0.1600091 ,
       0.09444695, 0.17350128, 0.11413653, 0.17779875, 0.08765032]), 'std_score_time': array([0.06441007, 0.01828168, 0.0308522 , 0.01687715, 0.03385827,
       0.01261295, 0.01822868, 0.05441273, 0.02624696, 0.01728206]), 'param_n_neighbors': masked_array(data=[1, 1, 3, 3, 5, 5, 7, 7, 9, 9],
             mask=[False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 1, 'weights': 'uniform'}, {'n_neighbors': 1, 'weights': 'distance'}, {'n_neighbors': 3, 'weights': 'uniform'}, {'n_neighbors': 3, 'weights': 'distance'}, {'n_neighbors': 5, 'weights': 'uniform'}, {'n_neighbors': 5, 'weights': 'distance'}, {'n_neighbors': 7, 'weights': 'uniform'}, {'n_neighbors': 7, 'weights': 'distance'}, {'n_neighbors': 9, 'weights': 'uniform'}, {'n_neighbors': 9, 'weights': 'distance'}], 'split0_test_score': array([0.86942417, 0.86942417, 0.87591241, 0.87672344, 0.87753447,
       0.87672344, 0.87996756, 0.87753447, 0.87753447, 0.87672344]), 'split1_test_score': array([0.84995945, 0.84995945, 0.87591241, 0.87347932, 0.87753447,
       0.87753447, 0.8783455 , 0.8783455 , 0.8783455 , 0.88077859]), 'split2_test_score': array([0.8621249 , 0.8621249 , 0.88240065, 0.87915653, 0.88077859,
       0.88321168, 0.8864558 , 0.88564477, 0.88969992, 0.88969992]), 'split3_test_score': array([0.84266018, 0.84266018, 0.8621249 , 0.85969181, 0.85806975,
       0.85806975, 0.85806975, 0.85888078, 0.85969181, 0.86050284]), 'split4_test_score': array([0.83941606, 0.83941606, 0.86455799, 0.86374696, 0.8702352 ,
       0.86861314, 0.86699108, 0.86536902, 0.86293593, 0.86374696]), 'split5_test_score': array([0.80048662, 0.80048662, 0.83454988, 0.82887267, 0.84671533,
       0.84671533, 0.84995945, 0.85158151, 0.85482563, 0.85644769]), 'split6_test_score': array([0.78832117, 0.78832117, 0.83698297, 0.83454988, 0.84509327,
       0.84509327, 0.85158151, 0.8459043 , 0.85158151, 0.84752636]), 'split7_test_score': array([0.80210868, 0.80210868, 0.84103812, 0.83941606, 0.84833739,
       0.85158151, 0.85320357, 0.85158151, 0.85806975, 0.85806975]), 'split8_test_score': array([0.81103001, 0.81103001, 0.86293593, 0.86374696, 0.86536902,
       0.86618005, 0.8621249 , 0.86293593, 0.8540146 , 0.85806975]), 'split9_test_score': array([0.79156529, 0.79156529, 0.82643958, 0.82806164, 0.84752636,
       0.84103812, 0.84752636, 0.83941606, 0.84833739, 0.8459043 ]), 'mean_test_score': array([0.82570965, 0.82570965, 0.85628548, 0.85474453, 0.86171938,
       0.86147607, 0.86342255, 0.86171938, 0.86350365, 0.86374696]), 'std_test_score': array([0.02876231, 0.02876231, 0.01888777, 0.01908059, 0.01358203,
       0.01431554, 0.01322352, 0.01440463, 0.0129818 , 0.01357113]), 'rank_test_score': array([9, 9, 7, 8, 5, 6, 3, 4, 2, 1])}

In [71]:
grid_search.best_score_

0.8637469586374695

In [72]:
grid_search.best_params_

{'n_neighbors': 9, 'weights': 'distance'}

In [73]:
grid_search2 = GridSearchCV(estimator=model, param_grid=param_grid, scoring='f1', cv=10)
grid_search2.fit(X, y)
# print available information
print(grid_search2.best_score_)
print(grid_search2.best_params_)

0.4351833539526672
{'n_neighbors': 3, 'weights': 'uniform'}